.container
  / content body
  section
    .row
      h3 id="subtitle"
        = subject_contents.topic
        |&nbsp-&nbsp
        = subject_contents.current_catalog

    .col-auto.my-1
      label class="mr-sm-2" Percentage of original article:&nbsp
      select class="custom-select mr-sm-2" id="choose_percentage"
        option value="50" 50%
        option value="10" 10%
        option value="20" 20%
        option value="30" 30%
        option value="40" 40%
        option value="60" 60%
        option value="70" 70%
        option value="80" 80%
        option value="90" 90%
        option value="100" original

    .col-md-8 id="summaries"
       img id="loading" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="display: none;"
       - subject_contents.summaries.each do |summary|
          p
            = summary


  / directory
  section
    .col-md-4 id="list"
      .panel-default
        .panel-heading id="list_title" Outline
        div class="list-group" id="outline"
          - subject_contents.catalogs.each do |catalog|
            - unless catalog=="Notes" || catalog=="References"
              button type="button" class="list-group-item list-group-item-action"
                - if catalog=="See also"
                   a href="/see_also/#{subject_contents.topic}" id="See_also" style="color: #AC9999;" See also
                - else
                   a class="catalogs" id="#{catalog.tr(' ', '_')}" href="#" style="color: #AC9999;" #{catalog}

  javascript:
    var percentage = 50;
    var topic_name = "#{subject_contents.topic}";
    var catalog_name = "Default";
    $("#Default").css('color','#59462D');
    $("#Default").css('font-weight','bold');
    var show_img = function(){
      $("#loading").show();
      console.log('show');
    }
    var hide_img = function(){
      $("#loading").hide();
      console.log('hide');
    }

    var reset_color = function(){
      $(".catalogs").css('color', '#AC9999');
      $(".catalogs").css('font-weight', 'normal');
    }
    var get_content = function(topic_name, catalog_name, percentage){
      $.get('https://wikeyapp.herokuapp.com/summaries_percent/'+topic_name+'/'+catalog_name+'/'+percentage, function(content){
        console.log(content);
        content = JSON.parse(content);
        console.log(catalog_name);
        console.log(percentage);
        for (i = 0; i < content.length; i++) {
          $("#summaries").append("<p> "+content[i] + "</p>");
        }
      })
      hide_img();
    }

    $("#choose_percentage").change(function(){
      $("#summaries").empty();
      show_img();
      percentage = $("option:selected", this).val();
      get_content(topic_name, catalog_name, percentage);
    })
    $(".catalogs").click(function(){
      console.log('clicked');
      $("#summaries").empty();
      $("#subtitle").empty();
      show_img();
      reset_color();
      console.log('reset');
      catalog_name = $(this).attr('id');
      $("#"+catalog_name).css('color','#59462D');
      $("#"+catalog_name).css('font-weight','bold');
      get_content(topic_name, catalog_name, 50);
    })
