#main_header {
  font-weight: bold;
}

#subtitle {
  color: #AC9999;
}

#welcome {
  color: #AC9999;
  text-align: center;
}

#introduction {
  text-align: center;
}

#hot_topics_btn {
  text-align: center;
}

h4 {
  color: #C1C1C1;
}

.query-bar {
  background-color: #FFFFE6;
  padding: 20px 20px 20px 20px;
}

.btn {
  color: #FFFFFF;
  background-color: #C1C1C1;
}
/*
#content_block {
  float: left;
  padding: 20px;
}
*/

#list {
  float: right;
  padding-right: 25px;
}

a {
  color: #AC9999;
}

footer {
  text-align: center;
  font-size: 11px;
  color: #AC9999;
}
