#main_header {
  font-weight: bold;
}

#subtitle {
  color: #AC9999;
}

#welcome {
  color: #AC9999;
  text-align: center;
}

.query-bar {
  background-color: #FFFFE6;
  padding: 20px 20px 20px 20px;
}

.btn {
  color: #FFFFFF;
  background-color: #C1C1C1;
}

#list {
  float: right;
  padding-right: 25px;
}

a {
  color: #AC9999;
}

footer {
  text-align: center;
  padding: 0.5in;
  font-size: 11px;
  color: #AC9999;
}

.ubutia-card .ubutia-card-header .card-icon{
	border-radius: 100%;
	display: inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	position: relative;
}

.graphic-design{
	background:transparent url(https://scrambledeggsdotorg.files.wordpress.com/2012/04/one.png) no-repeat;
    width: 120px;
    height: 120px;
	display:block;
}
